<li>
  {{#link-to 'question' question.id}}<span class="author_display">{{question.author}}'s </span>: {{question.content}} {{/link-to}}
  <button {{action 'addToFavorites' question}}>Add to Favorites</button>
  {{question-urgency question}}
</li>
