<div class="row">
  {{question-detail question=model}}
</div>
<div class="row">
  {{update-question question=model update="update"}}
</div>

<div class="row">
  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>

<div class="row">
  {{answer-tile thumbs_up="thumbs_up" thumbs_down="thumbs_down" question=model}}
</div>
